---
import Layout from '../../layouts/Layout.astro';
import Hero from '../../components/Hero.astro';
import About from '../../components/About.astro';
import Services from '../../components/Services.astro';
import Footer from '../../components/Footer.astro';
interface Props {
    lang: 'en' | 'et';
}

const { lang } = Astro.props;
---

<Layout title="Maand - Software done right!" lang="en">
    <main>
        <Hero lang="en" />
        <Services lang="en" />
        <About lang="en" />
        <Footer lang="en" />
    </main>
</Layout>