<footer id="contact" class=" mt-28 mb-4 container">
    <div class="bg-primary rounded-3xl flex flex-col sm:flex-row">
        <div class="flex-1 p-5 sm:p-12 ">
            <h1 class="font-bold text-5xl sm:text-7xl text-black mb-2">maand<span class="-ml-2">|</span></h1>
            <iframe 
                class="my-4 w-full"
                height="400"
                style="border:0"
                loading="lazy"
                allowfullscreen
                referrerpolicy="no-referrer-when-downgrade"
                src="https://www.google.com/maps/embed/v1/place?key=AIzaSyB0gu0nFTnwbQ93qvR5kf0qA7oGDyf3oCg
                    &q=Kitsas 5, Tartu">
            </iframe>
            <address class="flex not-italic my-6 sm:my-0">
                <div class="flex-1 flex flex-col">
                    <p>Kitsas 5, 51003 Tartu</p>
                    <a href="tel:+37256819552">(+372) 56819552</a>
                    <a href="mailto:info@maand.ee">info@maand.ee</a>
                </div>
                <div class="flex-1">
                    <p>MAAND SOLUTIONS OÜ</p>
                    <p>Registrikood: 16391221</p>
                    <p>KMKR: EE102445262</p>
                </div>
            </address>
        </div>
        <div class="flex-1 bg-black rounded-b-2xl sm:rounded-r-2xl text-white p-5 py-10 sm:p-12">
            <h3 class="text-3xl font-bold mb-6">Võta meiega ühendust!</h3>
            <form action="">
                <div class="flex flex-col gap-4 mt-4">
                    <label for="name">Nimi:</label>
                    <input name="name" type="text" placeholder="Nimi" class="p-2 rounded-lg">

                    <label for="email">E-mail:</label>
                    <input name="email" type="email" placeholder="E-mail" class="p-2 rounded-lg">

                    <label for="message">Sõnum:</label>
                    <textarea name="message" id="" cols="20" rows="10" placeholder="Sõnum" class="p-2 rounded-lg"></textarea>
                    <div><button class="bg-primary text-black p-2 rounded-lg px-6">Saada</button></div>
                </div>
            </form>
        </div>
    </div>
    <p class="text-center my-4">© 2024 Maand Solutions OÜ</p>
</footer>