<section id="services" class="container mt-28">
    <h3 class="font-bold text-3xl">Meie teenused</h3>
    <div class="grid sm:grid-cols-3 flex-wrap mt-4 gap-8 text-center sm:text-left">
        <div>
            <div class="aspect-square h-44 bg-sand rounded-xl flex justify-center items-center font-bold text-9xl mb-4 pb-4 mx-auto sm:mx-0">a</div>
            <h4 class="font-bold mb-4 text-xl">Tootestrateegia</h4>
            <p>Läbimõeldud tootestrateegia loomine - äristrateegia ja innovatsioon.</p>
        </div>
        <div>
            <div class="aspect-square h-44 bg-sand rounded-xl flex justify-center items-center font-bold text-9xl mb-4 pb-4 mx-auto sm:mx-0">&lbrace; &rbrace;</div>
            <h4 class="font-bold mb-4 text-xl">Tarkvaralahendused</h4>
            <p>Nutikad lahendused ja kiire arendustsükkel - viime teie visooni ellu!</p>
        </div>
        <div>
            <div class="aspect-square h-44 bg-sand rounded-xl flex justify-center items-center font-bold text-9xl mb-4 pb-4 mx-auto sm:mx-0">:</div>
            <h4 class="font-bold mb-4 text-xl">Mobiilsed rakendused</h4>
            <p>Käeulatuses igal hetkel - ühendame tipptehnoloogia kasutajamugavusega!</p>
        </div>
    </div>
</section>