---
import '@fontsource-variable/maven-pro';
import LanguageSwitcher from '../components/LanguageSwitcher.astro';
interface Props {
	title: string;
	lang: 'et' | 'en';
}

const { title, lang } = Astro.props;
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content="Astro description" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/png" href="./maand_favicon.png" />
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
	</head>
	<body class="text-black">
		<header class="sticky top-0 bg-primary z-50 shadow-sm">
			<nav class="flex justify-between container py-5">
				<div><h1 class="font-bold text-3xl">maand<span class="-ml-1">|</span></h1></div>
				<ul class="flex space-x-4 font-semibold items-center">
					<li><a href="#services">{lang === 'et' ? 'Teenused' : 'Services'}</a></li>
					<li><a href="#about">{lang === 'et' ? 'Meist' : 'About us'}</a></li>
					<li><a href="#contact">{lang === 'et' ? 'Kontakt' : 'Contact'}</a></li>
					<li><LanguageSwitcher lang={lang} /></li>
				</ul>
			</nav>
		</header>
		<slot />
	</body>
</html>

<style>
:global(html) {
	font-family: 'Maven Pro Variable', sans-serif;
	color: hsl(var(--colour-text-hue) var(--colour-text-saturation) var(--colour-text-luminance));
	scroll-behavior: smooth;
}
@media (prefers-reduced-motion: reduce) {
		:global(html) {
		scroll-behavior: auto;
	}
}
</style>
