---
import '@fontsource-variable/maven-pro';
interface Props {
	title: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content="Astro description" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
	</head>
	<body class="text-black">
		<nav class="flex justify-between container py-5">
			<div><h1 class="font-bold text-3xl">maand<span class="-ml-1">|</span></h1></div>
			<ul class="flex space-x-4 font-semibold items-center">
				<li><a href="#services">Teenused</a></li>
				<li><a href="#about">Meist</a></li>
				<li><a href="#contact">Kontakt</a></li>
			</ul>
		</nav>
		<slot />
	</body>
</html>

<style>
:global(html) {
	font-family: 'Maven Pro Variable', sans-serif;
	color: hsl(var(--colour-text-hue) var(--colour-text-saturation) var(--colour-text-luminance));
	scroll-behavior: smooth;
}
@media (prefers-reduced-motion: reduce) {
		:global(html) {
		scroll-behavior: auto;
	}
}
</style>
